language: ruby
cache: bundler
rvm:
  - 2.1.10
  - 2.2.6
  - 2.3.3
  #- 2.4 
  #- ruby-head
gemfile:
  - gemfiles/rails-4.gemfile
  - gemfiles/rails-5.gemfile
matrix:
  exclude:
    - rvm: 2.1.10
      gemfile: gemfiles/rails-5.gemfile
script: bundle exec rake test